# KORG Volca Sample 2 USB MIDI Interface
SUBSYSTEM=="sound", ATTRS{idVendor}=="0944", MODE="0666", GROUP="audio"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0944", MODE="0666", GROUP="audio"
